/*!
 * this main Css
 */

@font-face {
    font-family: Vazir;
    src: url('fonts/vazir-font/Vazir-Light-FD.eot');
    src: url('fonts/vazir-font/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('fonts/vazir-font/Vazir-Light-FD.woff2') format('woff2'), url('fonts/vazir-font/Vazir-Light-FD.woff') format('woff'), url('fonts/vazir-font/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: Vazir;
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-right: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-right: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-right: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-right: -15rem;
    }
}

.sidebar-heading a {
    display: block;
    color: unset;
    text-decoration: none;
}

.sidebar-heading:hover {
    background-color: #6c757d;
    color: white;
}

.correct {
    background-color: #27ae60;
    border-radius: 3px;
}

.wrong {
    background-color: #d35400;
    border-radius: 3px;
}

.is-correct {
    background-color: #55fb0045;
    border-radius: 3px;
}

.form-check-inline .form-check-input {
    margin-left: .3125rem;
    margin-right: 0;
}